<div class="whole-page">
  <nav class="left-nav-bar">
    <div class="header">
      <p>Piara</p>
      <p>Sandhu</p>
    </div>
    <div class="sep-line"></div>
    <div class="list-items">
      <ul>
        <li>Portfolio</li>
        <li>About Me</li>
        <li>Tutorials</li>
        <li>Blog</li>
      </ul>
    </div>
    <div class="sep-line"></div>
  </nav>

  <div class="body-content">
    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>
    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>
    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>
    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>
    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>
    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>
    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>
    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>
    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>
    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>
    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>
    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>
    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>
    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>
    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>
    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>
    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>
    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>
    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>
    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

    <p>
      Content here....
    </p>

  </div>
</div>
