<h1>Piara Sandhu</h1>
<p>Welcome to My Personal Portfolio</p>

<div id="img-box">
  <%= image_tag("coding-icon.png", :alt => "projects") %>
  <%= image_tag("resume-icon.png", :alt => "resume") %>
  <%= image_tag("contact-icon.png", :alt => "contact") %>
</div>
