<div class="container">
  <div id="title-bar">
    <h1>Piara Sandhu</h1>
    <p>Welcome to My Personal Portfolio</p>
  </div>

  <div class="site-body">
    <div id="img-bar">
      <div id="img-box">
        <div id="images">
          <a href="/portfolio"><%= image_tag("coding-icon.png", :alt => "projects", :class => "image") %></a>
          <a href="/resume"><%= image_tag("resume-icon.png", :alt => "resume", :class => "image") %></a>
          <a href="/contact"><%= image_tag("contact-icon.png", :alt => "contact", :class => "image") %></a>
        </div>
      </div>
    </div>

    <footer>
      <div class="info-box">
        <p>Piara Sandhu</p>
        <p>2016</p>
      </div>
    </footer>
  </div>
</div>
