<%= render 'navbar' %>

<div class="title-and-content">
  <div class="title-bar">
    <p class="page-title">Tutorials</p>
  </div>

  <div id="tutorial-content">
    <div id="body-text">
      <p>Content coming soon...</p>
    </div>
  </div>
</div>
