
@import 'variables';


// font face mixin for Adam
@font-face {
  font-family: "Adam";
  src: font_url('fonts/Adam.otf');
  font-weight: normal;
  font-style: normal;
}

// Removes the bounce effect when scrolling
html {
  height: $total-height;
  overflow: hidden;
}

// Removes margin, padding from edges and
// the bounce effect when scrolling
body {
  height: $total-height;
  overflow: auto;

  margin: 0;
  padding: 0;
}

::selection {
  background: $color-feather;
  // background: $color-marine;
  // background: linear-gradient(to right, $color-feather, $color-marine);
}

::-moz-selection {
  background: #49A38E;
}

// Left nav bar
.left-nav-bar {
  height: $total-height;
  width: 20%;

  float: left;
  position: fixed;

  padding-left: .25em;

  background: linear-gradient(to bottom, $color-feather, $color-marine);

  // border: $border-deets black;

  // Bar containing my name
  .header {
    margin-top: 0px;
    margin-left: -.25em;

    padding-top: 1em;

    // border: $border-deets green;

    // The page content
    p {
      font-family: $title-font-family;
      text-align: left;
      font-size: $title-font-size;
      line-height: 0em;

      padding-left: 0.75em;

      color: $color-white;
    }
  }

  // The separator bar
  .sep-line {
    height: 0em;
    width: 70%;

    margin-top: 1em;
    margin-left: 14%;
    margin-bottom: 2em;

    border-bottom: $border-deets;
    border-color: white;

    // border-bottom: $border-deets black;
  }

  // The link menu
  .list-items {
    font-size: 1.5em;
    line-height: 2em;

    margin-left: -.20em;

    font-family: $title-font-family;

    // border: $border-deets red;
  }

  // List items
  li {
    width: 50%;
    list-style: none;

    // border: $border-deets blue;
  }

  a:link {
    text-decoration: none;
    color: $color-white;
  }

  a:visited {
    text-decoration: none;
    color: $color-white;
  }

  // Attributes for social media icons
  .image-bar {
    width: 100%;
    height: 2em;

    margin-top: 3em;
    margin-left: 2em;
    padding: .50em;

    // border: $border-deets white ;
  }

  .image {
    margin-right: .5em;
  }
}
