// =======================Portfolio Page=======================

@import "variables";

.title-and-content {

  #portfolio-content {
    margin-top: 1.5em;

    // .p-images {
    //   height: 3em;
    //   width: 3em;
    //   margin-left: 3em;
    //   border-color: $solid-border black;
    // }


    #body-text {

      padding-top: 3em;
      padding-left: 3em;

      display: flex;
      flex-wrap: wrap;

      justify-content: space-around;

      border: $solid-border green;

      .por-img {
        height: 10em;
        width: 10em;
      }

      a {
        display: inline-block;

        margin-right: .5em;
        margin-bottom: .5em;

        padding-left: -2em;
        padding-right: -2em;

        font-size: 16px;

        // border: $solid-border red;
      }

      a:nth-of-type(2n) {
        margin-right: 0;
      }

      @media screen and (min-width: 50em) {
        a {
          width: calc(33% - 6px);
        }

        a:nth-of-type(2n) {
          margin-right: 8px;
        }

        a:nth-of-type(4n) {
          // margin-right: 8px;
          margin-right: 0;
        }
      }
    }
  }
}
