// =======================Tutorials Page=======================

@import 'variables';

.title-and-content {
  float: right;
  width: $width-margin;

  // border: $border-deets green;

  #tutorial-content {
    margin-top: 5.80em;
    
    #body-text {
      float: left;

      p {
        color: $font-color;
        font-size: 1.5em;
        margin-left: 1.75em;

        // border: $border-deets blue;
      }
    }
  }
}
