// variables for color
$color-white: #F8F8F8;
// $color-white: white;
$color-feather: #77C9D4;
$color-marine: #57BC90;

// variables for sizes and dimensions
$title-font-size: 3em;
$title-font-family: "Adam";
$body-font-family: "Lucida Grande";
$total-height: 100%;
$width-margin: 79.5%;
$border-deets: 2px solid;
$solid-border: 1px solid;
